​<!DOCTYPE html>
<html>
<head>
<style> p {
  background-color: yellow;
}
body {
  background-color:/ #777;
}
body {
  background-image: url("wallpaper8.jpg");
}
</style>
</head>
<body>

<p>This page has a light blue background color!</p>

</body>
</html>